case = [2,2,2,2]
line-length = 99
indent = 4
disable-indent = false
strict-indent = true
whitespace = 2
whitespace-comma = true
whitespace-assignment = true
enable-decl = true
whitespace-decl = true
whitespace-relational = true
whitespace-logical = true
whitespace-multdiv = true
whitespace-print = true
whitespace-type = true
whitespace-intrinsics = true
