*.mod
*.o
a.out
*.a
**/bin/

# For fortran testing with pfunit
*.inc

*.xyz

*.pdf
# LaTeX build artifacts
*.blg
*.brf
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.aux
