*.mod
*.o
a.out
*.a
**/bin/

# For fortran testing with pfunit
*.inc
verlet/verlet3/tests/test_verlet
verlet/verlet3/tests/test_verlet.F90

*.xyz

*.skim
*.pdf
# LaTeX build artifacts
*.blg
*.brf
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.aux
